# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# mac
*.DS_Store

# ignore output binaries
bin

# ignore source files, too large
assets

# ignore dist files for SourceForge
dist
*.gz
*.zip

# test output files
test/output
